.status {
    font-size: 10px;
    border-radius: 5px;
    padding: 2px 4px 2px 5px;
    margin: 2px 2px 0px 0px;
    min-width: 40px;
    font-family: 'Open Sans', sans-serif-light;
    text-align: center;
    color: white;
}

.status-large {
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 4px 2px 5px;
    margin: 2px 2px 0px 0px;
    min-width: 40px;
    font-family: 'Open Sans', sans-serif-light;
    text-align: center;
    color: white;
}

.status-warning {
    background-color: #f2bf38;
}

.status-success {
    background-color: #96b662;
}

.status-canceled {
    background-color: #b59541;
}

.status-in-progress {
    background-color: #bda4ec;
}

.status-error {
    background-color: #f88568;
}

.status-not-found {
    background-color: #2cb4ac;
}

.status-ignored {
    background-color: #2cb4ac;
}

.status-transparent {
    background-color: #00000000;
    color: #8c8c8c;
}

.drop-down {
    width: 180px;
    height: 28px;
    margin-bottom: -20px;
}

.drop-down-mid {
    width: 100px;
}

.drop-down-small {
    width: 50px;
}

.number-input {
    width: 180px;
    height: 28px;
}

.maxheight700 {
    max-height: 700px;
    overflow-y: scroll;
}

.maxheight400 {
    max-height: 400px;
    overflow-y: scroll;
}

.rotate45, .flot-x-axis div.flot-tick-label {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    white-space: nowrap;
}

.action-button {
    background-color: #00aaff; /* Green */
    border: solid;
    border-width: thin;
    color: white;
    padding: 3px 6px 3px 6px;
    display: inline-block;
    min-width: 40px;
    font-size: 11px;
    text-decoration: none;
    margin: 2px 2px 0px 0px;
    font-family: 'Open Sans', sans-serif-light;
    font-weight: bold;
    text-align: center;
}

button.action-button:hover {
    color: #0077dd;
}

button.action-button:focus {
    color: #0077dd;
}

.keyvalue-table-column{
    width: 50% !important;
}

.twocol-table-column{
    width: 50% !important;
}

.fourcol-table-column{
    width: 25% !important;
}

.three-col-table-column{
    width: 33% !important;
}

.hidden-item{
    display: none;
}

.fivecol-table-column{
    width: 20% !important;
}

.total{
    margin-top: 13%;
}

.smallFontTable, .smallFontTable button, .smallFontTable label{
    font-size: 90%;
    table-layout: fixed;
    word-wrap: break-word;
}

.tabCustomStyle{
    font-size: 90%;
}

.searchLabel{
    font-weight: normal;
}

#portInNumber, #newPortInNumber, #donorNetworkCode, #startDate{
    width: 83%;
}

.optionSelect{
    width: 70% !important;
}

.dataTables_processing {
    font-size: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #bda4ec;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.dataTables_paginate {
    font-size: 78%;
    float: right;
}

.dataTables_info {
    font-size: 90%;
    float: left;
    margin-top: 18px;
}

.dataTables_length {
    float: left;
    font-size: 95%;
}

.dataTables_length select {
    float: left;
    height: 25px;
    margin-right: 3px;
    font-size: inherit;
}

.dataTables_length input {
    float: left;
    height: 25px;
    margin-right: 3px;
    margin-top: -2px;
    margin-bottom: 0px;
    font-size: inherit;
}

.dataTables_length label {
    font-size: inherit;
}

.dataTables_filter {
    float: right;
    font-size: 95%;
}

.dataTables_filter input {
    float: right;
    height: 25px;
    margin-left: 5px;
    font-size: inherit;
}

.dataTables_filter select {
    float: left;
    height: 25px;
    margin-left: 3px;
    font-size: inherit;
}

.dataTables_filter label {
    font-size: inherit;
}

.tableWidthDynamic{
    width: 100% !important;
}

.tableDialogStyle{
    font-size: 80%;
    margin-bottom: 30px;
    min-height: 280px;
}

#loading-label {
    width: 100%;
    height: 100%;
    top: 80px;
    left: 240px;
    position: fixed;
    display: block;
    opacity: 0.5;
    background-color: #fff;
    z-index: 1048;
    text-align: center;
}

#loading-label-image {
    position: absolute;
    left: 37%;
    top:32%;
    width: 90px;
    z-index: 1049;
}

.searchTabsStyle{
    margin-left: 23%;
}

.searchPanelStyle{
    margin: 0px 15px 0px 15px;
}

.numberStat{
    text-align: center;
    font-size: 400%;
    color: rgba(0,0,0,.3);
}

.definition{
    margin: 10px;
}


/* autocomplete theme */

.typeahead,
.tt-query,
.tt-hint {

}

.tt-menu {
    position: absolute;
    width: 100%;
    margin: 12px 0;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 8px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2cb4ac;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #2cb4ac;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

.chartPanel{
    width: 75%;
}

.biTable{
    display: block;
    width: 1000px;
    overflow: auto;
}

.biNameColumn{
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.biValueColumn{
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.biTableTh{
    white-space: nowrap;
}

.biGreenClass{
    background-color: yellowgreen;
    color: white;
    text-align: center;
}

.biRedClass{
    background-color: indianred;
    color: white;
    text-align: center;
}

.biTargetsColumn{
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    background-color: #00aaff; /* Green */
    border: solid;
    border-width: thin;
    color: white;
    padding: 3px 6px 3px 6px;
    display: inline-block;
    min-width: 40px;
    font-size: 11px;
    text-decoration: none;
    margin: 2px 2px 0px 0px;
    font-family: 'Open Sans', sans-serif-light;
    font-weight: bold;
    text-align: center;
}

.inputfile:focus + label {
    background-color: #00aaff;
}

.inputfile + label:hover {
    color: #0077dd;
}

.inputlabel {
    color: #c2c2c2;
    font-size: 14px;
    padding: 3px;
    position: absolute;
}

.inputform {
    width: 60%;
    border: 1px solid #e2e2e4;
    box-shadow: none;
    margin: -2px;
    height: 34px;
    padding: 3px;
    border-radius: 4px;
}

.api-dialog .modal-content{
    width: 800px;
}

.pm2-data-table{
    width: 100%;
}

.pm2-data-table tr {
    padding: 10px;
}

.pm2-table-cell {
    padding: 7px;
}

.pm2-warning-big{
    color: red;
    font-size: 170%;
}

.pm2-warning-small{
    color: red;
}