
                    </div>
                  </td>
                </tr>
              <tbody>
              <tfoot>
                <tr>
                  <td colspan="2" style="padding: 0;">
                    <div style="background: #f7f7f7; border-radius: 8px;">
                      <p style="color: #666666; font-size: 12px; font-family: 'Open Sans', 'Lato', 'Calibri', sans-serif; margin: 0; padding: 20px; text-align: center; margin-bottom: 12px;">
                        <b> $number_disclaimer_footer </b><br />
                        If you have any questions, simply reply to this email (<a href="mailto://happiness@circles.life" style="color: #0099ff;">happiness@circles.life</a>). <br />
                        You may also drop us a message on our <a href="http://circles.life" style="color: #0099ff;">website</a> or on <a href="http://circles.life/apps" style="color: #0099ff;">the CirclesCare app</a>. $unsubscription_footer
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="color: #666666; padding: 0px 30px 15px; text-align: center;" height="100px">

                    <p style="color: #666666; font-size: 12px;font-family: 'Open Sans', 'Lato', 'Calibri', sans-serif;">2017 © Circles.Life / Circles Asia<br><br>
                      <font style="font-style: italic; font-size: 12px;font-family: 'Open Sans', 'Lato', 'Calibri', sans-serif;">Terms and Conditions apply.</font>
                    </p>
                  </td>
                </tr>
              </tfoot>
            </table>

          </td>
        </tr>
      </table>
      </td>
    </tr>
  </table>
</body>
</html>
